<article id="dropdowns">
    <header class="page-header">
        <h1>Button Dropdowns</h1>
    </header>

    <div class="row">
        <div class="col-sm-4">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dropup">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                    Dropup
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Dropdown with header
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" class="dropdown-header">Gluten-free</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">brunch</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">try-hard</a></li>
                    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">trust</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">fund</a></li>
                    <li role="presentation" class="dropdown-header">McSweeneys</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">biodiesel</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">gastropub</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">single-origin</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">coffee</a></li>
                </ul>
            </div>
        </div>
    </div>

    <h3>Button Groups</h3>

    <h4 class="h5">Large</h4>
    <div class="btn-group btn-group-lg" role="group" aria-label="large">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
    </div>
    <h4 class="h5">Medium</h4>
    <div class="btn-group" role="group" aria-label="medium">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
    </div>
    <h4 class="h5">Small</h4>
    <div class="btn-group btn-group-sm" role="group" aria-label="small">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
    </div>
    <h4 class="h5">Extra-small</h4>
    <div class="btn-group btn-group-xs" role="group" aria-label="extra-small">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
    </div>

    <h3>Button Toolbar</h3>
    <div class="btn-toolbar" role="toolbar" aria-label="numbers">
        <div class="btn-group" role="group" aria-label="medium">
            <button type="button" class="btn btn-default">1</button>
            <button type="button" class="btn btn-default">2</button>
            <button type="button" class="btn btn-default">3</button>
        </div>
        <div class="btn-group" role="group" aria-label="medium">
            <button type="button" class="btn btn-default">4</button>
            <button type="button" class="btn btn-default">5</button>
            <button type="button" class="btn btn-default">6</button>
        </div>
    </div>
</article>