<article id="labels">
    <header class="page-title">
        <h1>Labels</h1>
    </header>
    <h1 id="example-heading-new">Example heading <span class="label label-default">New</span><a class="anchorjs-link" href="#example-heading-new"><span class="anchorjs-icon"></span></a></h1>
    <h2 id="example-heading-new">Example heading <span class="label label-default">New</span><a class="anchorjs-link" href="#example-heading-new"><span class="anchorjs-icon"></span></a></h2>
    <h3 id="example-heading-new">Example heading <span class="label label-default">New</span><a class="anchorjs-link" href="#example-heading-new"><span class="anchorjs-icon"></span></a></h3>
    <h4 id="example-heading-new">Example heading <span class="label label-default">New</span><a class="anchorjs-link" href="#example-heading-new"><span class="anchorjs-icon"></span></a></h4>
    <h5 id="example-heading-new">Example heading <span class="label label-default">New</span><a class="anchorjs-link" href="#example-heading-new"><span class="anchorjs-icon"></span></a></h5>
    <h6>Example heading <span class="label label-default">New</span></h6>

    <h2>Variations</h2>
    <span class="label label-default">Default</span>
    <span class="label label-primary">Primary</span>
    <span class="label label-success">Success</span>
    <span class="label label-info">Info</span>
    <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span>
</article>