<article id="wells">
    <header class="page-title">
        <h1>Wells</h1>
    </header>

    <h2>Basic</h2>
    <div class="well">
        <p>Selfies butcher fanny pack, keffiyeh health goth ennui Intelligentsia locavore irony VHS DIY. Typewriter kale chips photo booth heirloom small batch, tousled semiotics bespoke organic hashtag messenger bag ennui readymade cliche crucifix.</p>
    </div>

    <h2>Big</h2>
    <div class="well well-lg">
        <p>Selfies butcher fanny pack, keffiyeh health goth ennui Intelligentsia locavore irony VHS DIY. Typewriter kale chips photo booth heirloom small batch, tousled semiotics bespoke organic hashtag messenger bag ennui readymade cliche crucifix.</p>
    </div>
</article>